.sideNav-wrapper{
    width: 100%;
    height: 100vh;
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.doctor-detail-wrapper{
    border-top: 1px solid lightgray;
    width: 100%;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.doctor-img-wrapper{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 4px;
}
.doctor-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.active-tab{
    background-color: #0d53fc;
    color: white !important;
    padding: 10px 17px;
    display: inline-block;
    width: 100%;
    border-bottom: 5px solid #0044e9;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}
.active-tab:hover{
    color: white;
}
.inactive-tab{
    color:#424e5e;
    padding: 10px 17px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}
.logo-img{
    width: 45px;

}