
.active-wrapper{
    background-color: #ffffff;
    padding: 25px 25px 20px 25px;
    height: 86vh;
}
.search-inp-box{
    border-bottom: 2px solid #f3f6fb;
    padding-bottom: 20px;
}

.small-img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
}
.title-name{
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}
.title-subheading {
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}
.title-subheading1 {
    font-size: 11px;
    font-weight: 400;
    color: gray;
    cursor: pointer;
}
.real-time{
    font-size: 8px;
    color: gray;
    font-weight: 600;
    text-align: end;
    cursor: pointer;
}
.num-style {
    font-size: 10px;
    padding: 8px;
    background: #49c496;
    width: 0px;
    height: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    color: white;
}

.profile-img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.profile-img-wrapper-1 {
    width: 100%;
    height: 250px;
}
.fisher-wrapper{
    position: absolute;
    bottom: 0px;
    color: white;
}
.profile-name{
    font-size: 20px;
}
.profile-time{
    font-size: 11px;
    font-weight: 400;
}

.active-wrapper1{
    background-color: #ffffff;
    height: 86vh;
}

.contact-info{
    color: blue;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}
.email-title{
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    color: gray;
}

.email-address{
    font-size: 13px;
    font-weight: 500;
}

.attachment-wrapper{ 
    border-top: 2px solid darkgray;
}
.teeth{
    width: 60px;
    height: 60px;
}

.message-content {
    height: calc(100% - 65px);
    width: 100%;
    overflow-y: scroll;
}

.sender-area {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 10px 4px;
}

.sender-content {
    max-width: 60%;
    padding: 14px;
    background-color: #49c496;
    border-radius: 20px 20px 0px 20px;
    font-size: 12px;
    color: white;
}

.sender-content p {
    color: white;
    margin-bottom: 0px;
}

.sender-time p {
    color: #c7ccd2;
    margin-bottom: 0px;
    font-size: 11px;
    padding-right: 10px;
}
.receiver-time p {
    color: #c7ccd2;
    margin-bottom: 0px;
    font-size: 11px;
    padding-right: 10px;
}


.receiver-area {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    padding: 10px 4px;
}

.receiver-content {
    max-width: 60%;
    padding: 12px;
    background-color: #f1f2f6;
    border-radius: 0px 20px 20px 20px;
    color: #868d98;
    font-size: 12px;
    margin: 0px;
}

.reveiver-content p {
    color: black;
    margin-bottom: 0px;
    font-size: 14px;
}

.receiver-photo {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 8px;
}

.message-footer {
  height: 65px;
  width: 100%;
  padding: 20px;
  background: white;
  border-top: 5px solid #f2f5f9;
}
.search-message{
    font-size: 13px;
    font-weight: 500;
    color: gray;
    padding-left: 10px;
    border: none;
    outline: none;
    width: 100%;
}
.smile{
    color: gray;
    cursor: pointer;
}

.send-buton{
    color: #0d53fd;
    cursor: pointer;
}




/* .user-active-wrapper{
    padding: 25px 25px 0px 25px;
} */

